html {
    font-family: "Liberation Sans", Arial, Helvetica, FreeSans, sans-serif;
}
body {
    font-size: 16px;
    overflow: auto;
    background-repeat: repeat;
    background-size: 5%;
    background-image: url("../img/backgrounds.jpg");
    background-attachment: fixed;
    image-rendering: pixelated;
}
.mobile, .mobile-background .page-section {
    display: none;
}
#mobile-menu-icon-button {
    image-rendering: pixelated;
}
.mobile-menu-icon {
    width: 20%;
}
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;
}
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    height: calc(100vh - 50px);
    width: 100%;
}
.mobile .page-section {
    margin: -0.60em -0.85em;
}
a:link.button, a:visited.button, a:active.button, a:link.button-selected, a:visited.button-selected, a:active.button-selected {
    color: rgb(255, 255, 255);
}
a:link {
    color: rgb(0, 98, 177);
}
a:visited {
    color: rgb(0, 98, 177);
}
a:active {
    color: rgb(255, 234, 0);
    background-color: transparent;
}
table {
    padding: 5px;
    border: 2px solid rgb(30, 30, 30);
    border-top: 2px solid rgb(71, 71, 71);
    border-left: 2px solid rgb(71, 71, 71);
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    border-top: 2px solid rgb(71, 71, 71);
    border-collapse: collapse;
}
.table-header {
    background-color: rgb(31, 31, 31);
    border-collapse: collapse;
}
.page-section {
    margin: 0.60em 0.85em;
    text-align: center;
    vertical-align: top;
    padding: 10px;
    border: 2px solid rgb(30, 30, 30);
    border-top: 2px solid rgb(71, 71, 71);
    border-left: 2px solid rgb(71, 71, 71);
    background-color: rgb(42, 42, 42);
}
.header {
    align-items: center;
    width: 25%;
    height: 75%;
    margin: 20px;
}
div.home-header {
    align-items: center;
    width: 25%;
    height: 75%;
    margin: 20px;
}
.navigation.mobile {
    display: none;
}
.navigation {
    padding: 10px;
    display: inline-table;
}
.button-background {
    border: 5px solid black;
}
.button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 50px;
    border: 2px solid rgb(30, 30, 30);
    border-top: 2px solid rgb(44, 44, 44);
    border-left: 2px solid rgb(44, 44, 44);
    background-color: rgba(20, 20, 20, 0.5);
    transition: 0.3s;
}
.button-selected {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 50px;
    border: 2px solid rgb(30, 30, 30);
    border-top: 2px solid rgb(71, 71, 71);
    border-left: 2px solid rgb(71, 71, 71);
    background-color: rgba(59, 59, 59, 0.5);
    transition: 0.3s;
}
.button:hover {
    border: 2px solid rgb(30, 30, 30);
    border-top: 2px solid rgb(71, 71, 71);
    border-left: 2px solid rgb(71, 71, 71);
    background-color: rgb(84, 84, 84);
    box-shadow: 0px 0px 5px 5px rgb(49, 49, 49);
}
.button:active {
    border: 2px solid rgb(30, 30, 30);
    border-top: 2px solid rgb(71, 71, 71);
    border-left: 2px solid rgb(71, 71, 71);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 5px rgb(49, 49, 49);
}
.box {
    color: white;
    display: flex;
    width: auto;
}
.introduction {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.background {
    padding: 0 auto;
    margin: 0.60em 0.85em;
    color: white;
    border: 2px solid rgb(19, 19, 19);
    border-top: 2px solid rgb(50, 50, 50);
    border-left: 2px solid rgb(50, 50, 50);
    background-color: rgb(45, 45, 45);
}
.layout {
    padding: 10px;
    margin: 0.60em 0.85em;
    color: white;
    border: 2px solid rgb(30, 30, 30);
    border-top: 2px solid rgb(71, 71, 71);
    border-left: 2px solid rgb(71, 71, 71);
    background-color: rgb(45, 45, 45);
}
.layout-1 {
    display: flex;
    width: 100%;
    flex-basis: 190px;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;

}
.layout-2 {
    margin: 5px 10px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.supporting-box {
    padding: 10px;
    width: 380px;
    background-color: rgba(0, 0, 0, 0.381);
    border-collapse: collapse;
}
.headers {
    position: relative;
    display: inline-flex;
    border: 2px solid rgb(19, 19, 19);
    border-top: 2px solid rgb(50, 50, 50);
    border-left: 2px solid rgb(50, 50, 50);
    background-color: rgb(28, 28, 28);
    flex-wrap: nowrap;
    flex-direction: row;
}
.text-headers {
    margin: 0px 10px;
}
.icons-headers {
    align-self: center;
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}
.heading {
    position: relative;
    display: flex;
    line-height: 1;
}
.text-icons {
    align-self: center;
    margin: 0px 10px;
}
.icons-text {
    align-self: center;
    display: flex;

}
.icons {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}
.icons>a:first-child {
    margin-left: auto;
}
img {
    overflow: clip;
}
/*----- RESPONSIVE -----*/
@media only screen and (max-width: 620px) {
    .button, .button-selected {
        display: none;
    }
    .desktop {
        display: none;
    }
    .mobile-background .page-section {
        margin: 0 auto;
        height: 90px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        z-index: 1;
    }
    .mobile {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        position: fixed;
        z-index: 1;
    }
    .header {
        float: left;
        width: 45%;
        height: 75%;
    }
    .background {
        margin: 0 auto;
    }
    .background .introduction {
        bottom: 120px;
    }
    .page-section {
        background-size: 20vh auto;
    }
    .layout, .layout-1, .layout-2 {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .titles {
        display: inline-table;
        margin: -2vh auto;
        width: 20%;
    }
    .introduction {
        display:  block;
    }
}